body {
    max-width: 95vw;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    margin: 0 auto;
    max-width: 95vw;
    text-align: center;
    color: rebeccapurple;
}

#bars{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: column;
    transform: rotate(270deg);
    max-width: 95vw;
    
}

.barras{
    background-color: blueviolet;
    color: white;
    border: 0.5px solid black;
    padding: 2px;
    font-size: 14px;
    font-weight: bold;
    text-align: start;
    height: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.barras:hover {
    background-color: violet;
    border: 2px solid blueviolet;
}

.titulo {
  
    color: black;
    max-width: 20%;
   display: inline;
   font-size: 12px;
   padding: 2px;
   transform: rotate(90deg);
   position: absolute;
   right: -20px;
   z-index: 1;
   
    
}

@media (min-width: 800px) {
    #bars{
        display: flex;
        transform: rotate(0deg);
        align-items: center;

    }

    .barras{
        display: flex;
        justify-content: center;
    }

    .titulo{
        transform: rotate(360deg);
        display: none;
    }
    
}