body {
    max-width: 95vw;
    margin: 0 auto;
}

#bars{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.barras{
    background-color: blueviolet;
    color: white;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    font-size: 14px;
    font-weight: bold;
    text-align: start;
    height: 50px;
}

